{:source-paths ["src"
                "dev"]

 :dependencies [[cider/cider-nrepl "0.22.4"]
                [reagent "0.9.0-rc3"]
                [re-frame "0.11.0-rc3"]
                [org.clojure/math.combinatorics "0.1.5"]
                [cljs-bean "1.5.0"]
                [medley "1.2.0"]]

 :nrepl {:port 3333}

 :builds
 {:app
  {:target :react-native
   :init-fn ezmonic.app/init
   :output-dir "react-native/app"
   :js-options {:js-package-dirs ["react-native/node_modules"]}
   :compiler-options {:infer-externs :auto}
   :devtools {:repl-init-ns ezmonic.app
              :repl-pprint true
              :autoload true
              :after-load ezmonic.app/start}}}}
